/* css for viking-google.no */
div {
	border: 1px solid grey;
}

body {
	font-family: 'EB Garamond', serif;
	color: #444;
}

body h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

body p {
	font-size: 16px;
}


.navbar {
	height: 50px;
}

.navbar h1 {
	font-weight: bold;
}

.navbar-left {
	float: left;
	margin-left: 100px;
	padding-top: 10px;
}
.navbar-right {
	float: right;
	margin-right: 100px;
	padding-top: 10px;
	display: table;

}

.navbar-right img {
	display: table-cell;
	vertical-align: middle;
	margin-right: 10px;
}

.navbar-right p {
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}

.hero-image {
	opacity: 0.8;
}

.hero-text {
	text-align: center;
	color: #fff;
	background: #333;
	height: 50px;
	padding-top: 30px;
}

.hero-area .hero-text h1 {
	font-size: 26px;
}

.hero-subtext {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.hero-area .hero-subtext p {
	font-size: 20px;
	font-style: italic;
}